# Editor settings
.vscode/
**/.vscode/

# Build outputs
/main
sigeh
*.out
*.o
*.exe

# macOS
.DS_Store

sigeh
test_agendamento
test_leito
test_triagem
test_paciente
test_medico
test_ala
test_internacao
test_relatorio
test_prontuario
test_exame
test_sqlite_db